.tov-header {
  display: flex;
  justify-content: space-between;
  height: 20px;
  padding: 3px 7px;
  color: white;
  border-radius: 3px 3px 0 0;
  background-color: #0d69a1;
  border: solid 1px #0d69a1;
  font-weight: bold;
}

.tov-toolbar {
  display: flex;
  background: linear-gradient(to bottom, #f3f3f3, #e2e2e2);
  border: solid 1px #999;
  border-bottom: none;
  padding: 5px;
  align-items: center;
}

.tov-toolbar > * {
  margin-right: 5px;
}

.tov-button {
  flex-shrink: 0;
  border: solid 1px #999;
  width: 28px;
  height: 28px;
  font-size: 0;
  background-color: #eee;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.tov-button:hover {
  background-color: #f5f5f5;
}

.tov-button:disabled {
  opacity: 0.35;
}

.tov-current {
  width: 65px;
  text-align: center;
  height: 28px;
  padding: 4px 8px;
  box-sizing: border-box;
  border: solid 1px #999;
  text-decoration: none;
  font-size: inherit;
  color: #333;
  background-color: #fff;
  border-radius: 3px;
}

.tov-current:hover {
  text-decoration: none;
}

.tov-current:focus {
  text-decoration: none;
  outline: 5px auto -webkit-focus-ring-color;
}

.tov-delimiter {
  height: 20px;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 7px !important;
  margin-left: 2px;
  border-right: dotted 2px #777;
}

.tov-first {
  background-image: url(../images/first.svg);
}
.tov-previous {
  background-image: url(../images/previous.svg);
}
.tov-next {
  background-image: url(../images/next.svg);
}
.tov-last {
  background-image: url(../images/last.svg);
}
.tov-reload {
  background-image: url(../images/reload.svg);
}
.tov-file {
  background-image: url(../images/file.svg);
}
.tov-enlarge {
  background-image: url(../images/enlarge.svg);
}
.tov-shrink {
  background-image: url(../images/shrink.svg);
  display: none;
}

.tov-description {
  height: 28px;
  padding: 5px 0;
  box-sizing: border-box;
  white-space: nowrap;
  flex-shrink: 10;
  overflow: hidden;
}

.tov-iframe {
  width: 100%;
  min-height: 300px;
  border: solid 1px #999;
  resize: vertical;
  overflow: auto;
  box-sizing: border-box;
  padding: 10px;
  background-color: #fff;
  border-radius: 0 0 3px 3px;
}

.tov-loading {
  opacity: 0.25;
}

/* Fullscreen. */
.tov-dashboard.tov-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.tov-fullscreen .tov-iframe {
  flex-grow: 100;
  border-radius: 0;
}

.tov-fullscreen .tov-header {
  flex-shrink: 0;
  border-radius: 0;
}

.tov-fullscreen .tov-toolbar {
  flex-shrink: 0;
}
